{% extends "blogg/base.html" %}
{% block content %}

<ul>
	<li>Title : {{posts.title}}</li>
	<li>Body : {{posts.body}}</li>
	<li>Created : {{posts.created}}</li>
	<li>Updated : {{posts.updated}}</li>
</ul>

<h3>Comments</h3>

{% for i in comments  %}
	<ul>
	<li>Author: {{i.author}}</li>
	<li>Comment: {{i.body}}</li>
	<li>Created: {{i.created}}</li>
	<li>Updated: {{i.updated}}</li>
	</ul>
	
	<div>
		<a href="/blogg/comments/{{i.id}}/edit">Edit Comment</a>
	</div>
	{% endfor %}
	<br/>

<h3>New Comment:</h3>
<div>
	<form method='post' action="">
		{{form.as_p}}
		<input type='submit' name='Submit'>
	</form>
</div>

{% endblock %}