{% extends "blogg/base.html" %}
{% block content %}

<ul>
	<li>Title : {{posts.title}}</li>
	<li><p>Body : {{posts.body}}</p></li>
	<li>Created : {{posts.created}}</li>
	<li>Updated : {{posts.updated}}</li>
</ul>

{% for i in posts.comments.all  %}
	<ul>
		<li>Author: {{i.author}}</li>
		<li>Comment: {{i.body}}</li>
		<li>Created: {{i.created}}</li>
		<li>Updated: {{i.updated}}</li>
	<ul>
	<br/>
	<div>
		<a href="blogg/comments/{{comment.id}}/edit">Edit Comment</a>
	</div>
	{% endfor %}

<h3>New Comment:</h3>
<div>
	<form method='post' action="">
		{{form.as_p}}
		<input type='submit' name='Submit'>
	</form>
</div>

{% endblock %}